* {
    box-sizing: border-box;
}

body {
    min-width: 250px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #bed9e0;
}

.meni {
    width: 100%;
    padding-bottom: 1%;
    margin: auto;
    margin-bottom: 1%;
    margin-top: 60px;
    background-color: #3ca2bb;
}

.logo {
    width: 70px;
    height: 70px;
    display: table;
    margin: auto;
    padding: 0px;
    transform: translate(0%, -50%);
}

.logo img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

div.meni ul {
    display: table;
    list-style: none;
    padding-top: 2%;
    padding-left: 0px;
    padding-right: 0px;
    margin: auto;
}

div.meni ul li {
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
}

div.meni ul li a {
    color: black;
}

.podvuceniLink {
    text-decoration: underline;
}

.nepodvuceniLink {
    text-decoration: none;
}

.sadrzaj {
    padding-bottom: 1%;
    padding-top: 1%;
    background-color: #3ca2bb;
}

table {
    margin: auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    width: 30%;
    height: 30px;
}

th {
    padding: 2px;
    background-color: rgb(204, 198, 198);
}

td {
    background-color: white;
}

@media only screen and (max-width: 600px) {

    div.meni ul li {
        display: block;
    }
}