* {
    box-sizing: border-box;
}

body {
    min-width: 250px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #bed9e0;
}

.meni {
    width: 100%;
    padding-bottom: 1%;
    margin: auto;
    margin-bottom: 1%;
    margin-top: 60px;
    background-color: #3ca2bb;
}

.logo {
    width: 70px;
    height: 70px;
    display: table;
    margin: auto;
    padding: 0px;
    transform: translate(0%, -50%);
}

.logo img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

div.meni ul {
    display: table;
    list-style: none;
    padding-top: 2%;
    padding-left: 0px;
    padding-right: 0px;
    margin: auto;
}

div.meni ul li {
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
}

div.meni ul li a {
    color: black;
}

.podvuceniLink {
    text-decoration: underline;
}

.nepodvuceniLink {
    text-decoration: none;
}

.sadrzaj {
    width: 100%;
    margin: auto;
    padding: 1%;
    background-color: #3ca2bb;
}

.sadrzajSaSlikama {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-evenly;
}

.slikaUGaleriji {
    width: 100%;
    max-width: 100%;
    height: 300px;
    margin: 2%;
}

.okvirGalerije {
    margin-right: 5%;
    margin-left: 5%;
}

.gridOkvirDugmad {
    display: grid;
    grid-template-columns: 150px 150px;
    justify-content: space-between;
    margin-bottom: 25px;
    padding-left: 5%;
    padding-right: 5%;
}

.gridOkvirDugmad button {
    margin-top: 15px;
    padding: 12px 1px;
    border: 6px solid rgb(4, 4, 131);
    color: rgb(4, 4, 131);
    font-family: Verdana, sans-serif;
    font-size: 1.4em;
}

@media only screen and (max-width: 992px) {
    .sadrzajSaSlikama {
        grid-template-columns: 45% 45%;
    }
}

@media only screen and (max-width: 768px) {
    .sadrzajSaSlikama {
        grid-template-columns: 75%;
    }
}

@media only screen and (max-width: 600px) {
    .slikaUGaleriji {
        width: 80%; /* 80% od originalne sirine, koja je bila 100% sirine kolone */
        height: 240px; /* 80% od origninalne visine, tj. od 300px */
    }

    div.meni ul li {
        display: block;
    }
}