* {
    box-sizing: border-box;
}

body {
    min-width: 250px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #bed9e0;
}

.meni {
    width: 100%;
    padding-bottom: 1%;
    margin: auto;
    margin-bottom: 1%;
    margin-top: 60px;
    background-color: #3ca2bb;
}

.logo {
    width: 70px;
    height: 70px;
    display: table;
    margin: auto;
    padding: 0px;
    transform: translate(0%, -50%);
}

.logo img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

div.meni ul {
    display: table;
    list-style: none;
    padding-top: 2%;
    padding-left: 0px;
    padding-right: 0px;
    margin: auto;
}

div.meni ul li {
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
}

div.meni ul li a {
    color: black;
}

.podvuceniLink {
    text-decoration: underline;
}

.nepodvuceniLink {
    text-decoration: none;
}

.sadrzaj {
    padding-bottom: 1%;
    padding-top: 1%;
    background-color: #3ca2bb;
}

.sadrzaj form {
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 20%;
}

.sadrzaj form label {
    display: inline-block;
    width: 200px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    text-align: left;
}

.sadrzaj form input {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.okvirKalendara {
    padding-top: 20px;
    padding-bottom: 15px;
    border: 6px solid rgb(4, 4, 131);
}

.danUKalendaru {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 4px solid rgb(4, 4, 131);
}

.nazivDana {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 6px solid rgb(4, 4, 131);
    font-family: Verdana, sans-serif;
    font-size: 1.45em;
    text-align: center;
}

.kalendar {
    margin-right: 20%;
    margin-left: 20%;
}

.kalendar button {
    margin-top: 15px;
    padding: 12px 1px;
    border: 6px solid rgb(4, 4, 131);
    color: rgb(4, 4, 131);
    font-family: Verdana, sans-serif;
    font-size: 1.4em;
}

.okvirKalendara label {
    font-family: Verdana, sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    margin: 4%;
}

.okvirSaTekstom {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 1.5em;
    border-bottom: 4px solid rgb(4, 4, 131);
}

.okvirSaBojom {
    padding-top: 15px;
    padding-bottom: 15px;
}

.slobodna .okvirSaBojom {
    background-color: rgb(93, 214, 93);
}

.zauzeta .okvirSaBojom {
    background-color: rgb(231, 120, 120);
}

.gridOkvir {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10%;
    justify-content: space-evenly;
    margin-top: 20px;
}

.gridOkvirDugmad {
    display: grid;
    grid-template-columns: 150px 150px;
    justify-content: space-between;
    margin-bottom: 25px;
}

.prviDanMjeseca {
    grid-column-start: unset;
}

@media only screen and (max-width: 1200px) {
    .kalendar {
        margin-right: 10%;
        margin-left: 10%;
    }
}

@media only screen and (max-width: 992px) {
    .kalendar {
        margin-right: 5%;
        margin-left: 5%;
    }
}

@media only screen and (max-width: 768px) {
    .kalendar {
        margin-right: 2%;
        margin-left: 2%;
    }

    .nazivDana {
        font-size: 1.3em;
    }
}

@media only screen and (max-width: 600px) {
    .kalendar {
        margin-right: 20%;
        margin-left: 20%;
    }

    .sedmicaZaSakriti {
        display: none;
    }

    .gridOkvir {
        grid-template-columns: 35% 35%;
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-auto-flow: column;
    }

    .prviDanMjeseca {
        grid-column-start: unset;
        grid-row-start: 5;
    }

    div.meni ul li {
        display: block;
    }

    .gridOkvirDugmad {
        grid-template-columns: 120px 120px;
    }

    .kalendar button {
        font-size: 1em;
    }
}

@media only screen and (max-width: 400px) {
    .kalendar {
        margin-right: 10%;
        margin-left: 10%;
    }
    
    .gridOkvirDugmad {
        grid-template-columns: 97px 97px;
    }
}