* {
    box-sizing: border-box;
}

body {
    min-width: 250px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #bed9e0;
}

.meni {
    width: 100%;
    padding-bottom: 1%;
    margin: auto;
    margin-bottom: 1%;
    margin-top: 60px;
    background-color: #3ca2bb;
}

.logo {
    width: 70px;
    height: 70px;
    display: table;
    margin: auto;
    padding: 0px;
    transform: translate(0%, -50%);
}

.logo img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

div.meni ul {
    display: table;
    list-style: none;
    padding-top: 2%;
    padding-left: 0px;
    padding-right: 0px;
    margin: auto;
}

div.meni ul li {
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
}

div.meni ul li a {
    color: black;
}

.podvuceniLink {
    text-decoration: underline;
}

.nepodvuceniLink {
    text-decoration: none;
}

.sadrzaj {
    padding-bottom: 1%;
    padding-top: 1%;
    background-color: #3ca2bb;
}

.tabelaSala {
    margin: auto;
    height: 600px;
    border-collapse: collapse;
}

.headerSprat {
    height: 10%;
    text-align: right;
    font-size: 1.2em;
    background-color: rgb(128, 120, 120);
}

.headerRedni {
    height: 6%;
    width: 25%;
    font-weight: normal;
    text-align: left;
    background-color: rgb(173, 166, 166);
}

.sala {
    width: 13%;
    text-align: left;
    vertical-align: top;
    background-color: white;
}

.slobodnaSala {
    background-color: rgb(87, 241, 87);
}

.zauzetaSala {
    background-color: rgb(250, 94, 83);
}

.kancelarija {
    background-color: rgb(185, 181, 181);
}

.headerSprat.naslovSpratovi {
    height: 10%;
    font-weight: normal;
    text-align: center;
    font-size: 1em;
}

.headerRedni, .headerSprat, .sala {
    border: 1px solid black;
}

.headerRedni.naslovRedniBroj {
    height: 10%;
    text-align: center;
    vertical-align: bottom;
    font-size: 1em;
}

.headerPrazna {
    height: 10%;
    width: 25%;
}

.salaVani {
    width: 20%;
}

@media only screen and (max-width: 600px) {
    .headerSprat, .headerRedni, .headerPrazna {
        display: none;
    }

    div.meni ul li {
        display: block;
    }
}